html,body{
    margin: 0;
    padding: 0;
    font-family: 'Hind Siliguri';
    overflow-x: auto;
}
a{
    text-decoration: none;
}
.main-container{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}
.header{
    background-color: dodgerblue;
    width: 100%;
}
.pre-header{
    background-color: transparent;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.pre-header-col-1{
     width: 40%; 
    padding: 0 40px;
  
    display: flex;
    justify-content:flex-start; 
    
    
}
.phnum-small{
    padding: 0 5px;
}
.sm-phone-icon{
    color: white;
    margin: 10px 0 10px 5px;
    font-size:small;
}
.phnum-txt-sm{
    text-decoration: none;
    color: white;
    font-family: 'Hind Siliguri', sans-serif;
font-weight: 400;
font-style: normal;
font-size: 16px;
text-transform: none;
letter-spacing: 0;
line-height: 24px;
}
.preheader-col-2{
    width: 60%;
    padding: 0 5px;
    display: flex;
    justify-content: flex-end;
}
.banner{
position: relative;
margin: 0;
padding: 5% 0;
width: 100%;
/* background-color:#3d5afe; */
background-image: url(hero.jpg), linear-gradient(rgba(34,147,215,0.8),rgba(34,147,215,0.5));

background-blend-mode: overlay;
text-align: center;
background-size: cover;
margin-bottom: 5%;

}
.upper{
    margin-bottom: 5%;
}
.curve{
    position: absolute;
    width: 100%;
    margin-top:-2rem;
    
}
.curve svg{
    width: 100%;
    height: 100%;
} 
.c-2{
    left: -2px;
    top: 0;

}
.lower{
    margin-top: 10%;
}


.headline-l{
margin: 2% 25%;
color: white;
font-weight: 600;
font-size: 50px;
line-height: 62px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sub-txt-md{
margin :1% 3%;
padding: 0 20%;
color: white;
font-size: 20px;
line-height: 32px;
font-family: 'Hind Siliguri';
font-weight: 500;
}
.mrg-pdd-0{
margin: 0;
padding: 5% auto;
}
.mrg-0{
margin: 0;
}
.ellipse-btn-md{
margin: 1% 0;
border-radius: 50px;
box-shadow:0px -2px 4px 0px #03070e54;
border :none;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding: 0.8% 3%;
font-size: medium;
background-color: rgba(255,255,255,1);
color: rgba(34,147,215,1);
letter-spacing: 1px;
text-transform: uppercase;
font-weight: 600;
/* margin-bottom: 5%;     */
}
.ellipse-btn-md a{
text-decoration: none;
color: #3d5ffa;
}

.info-sec-1{
max-width: 1160px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: black;
margin: 4rem auto;
}

.headline-md{
color: darkslategrey;
text-align: center;
margin-top:2%;
font-size: 30px;
font-family: 'Hind Siliguri';
font-weight: 600;
margin-bottom: 0;

}
.text-sm-darkgrey{
color:#9a9ea5;
font-size: large;
text-align: center;
margin: 0 20%;
padding: 0 5%;
margin-top: 1%;
margin-bottom: 2%;

}
.heading-xs{
font-weight: 600;
font-style: normal;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.info-card-grids{
padding: 2% 0;
display: flex;
justify-content: space-between;


}
.info-sec-1-card-text{
padding-right:5%;
color: grey;
}
.info-sec-1-card-img{
padding: 4.5% 5.5%;
margin: 0 1rem;
background-color: #3d5afe;
border-radius: 100px;
height: fit-content;
color: white;
font-size: 150%;
}
.bigcols2 {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 45% 50%;
    grid-gap: 7%;
    max-width: 1160px;
    margin: 4rem auto;
}

        .icon-wrap img {
            width: 30px;
        }
    
.content-text{font-weight: 400;
font-style: normal;
font-size: 17px;
text-transform: none;
letter-spacing: 0;
line-height: 30px;
color: rgba(132,137,145,1);
font-family: 'Hind Siliguri';
}
.headline-sm{color: rgba(49,50,51,1);
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 600;
line-height: 1.2;

}
.sub-txt-sm{
color: rgba(49,50,51,0.5);
font-family: 'Hind Siliguri';
padding-right: 5%;
}
.bigcols2-review{
    max-width: 1160px;
    margin: 50px auto;
display: grid;
grid-template-columns: auto auto;

grid-gap: 4%;
}
.sub-cols{
margin-top: 5%;
display: grid;
grid-template-columns: 50% 50%;
grid-gap: 5%;
}
.ellipse-btn-sm-blue{
border-radius: 30px;
padding: 2% 10%;
/* background-color: #3258d4; */
/* color: white; */
border: none;
box-shadow: 0 0 #3258d4;
/* margin: 0 1%; */
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: small;
font-weight: 600;
background-color: rgba(34,147,215,1);
color: #ffffff;
}

.col-1-headline-md {
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 37px;
    text-transform: none;
    letter-spacing: -0.003em;
    line-height: 46px;
    color: rgba(49,50,51,1);
    /* padding-right: 30%; */
    width: 80%;
    text-align: left;
}

.sub-col-icons{
color: #3d4fff;
size: large;
font-size: xx-large
}

.info-sec-3{
background-color: #3258d4;
}
.white{
color: white;
}
.tworow-threecols
{padding: 5% 2%;
background-image: url(dc.jpg),linear-gradient(rgba(12, 67, 245, 0.8),rgba(20, 23, 219, 0.4));
margin-top: 50px;
background-blend-mode: overlay;
position: relative;
}
.tworow-threecols-inner{
    max-width: 1160px;
    margin: 0 auto;
}
.large{
font-size: xx-large;
}

.third-sec-wrap{
    max-width: 1160px;
    margin: 7% auto;    
}
.third-sec-head{
    width: 30%;
    margin: 0 auto;
    font-size: 2rem;
}
.third-sec-pline{
    width: 40%;
    padding: 0;

}
.cels3{display: grid;
grid-template-columns: repeat(3,1fr);
max-width: 960px;
margin: 5% auto;
grid-gap: 2%;

}
.third-sec{
    max-width: 100%;
    width: 85%;
    margin: 5% auto;
    position: relative;
}

.txt-icon{
font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
    display: grid;
    grid-template-columns: 10% auto;
    grid-gap: 10%;
}

.txt-icon-icons{

color: rgba(34,147,215,0.8);
font-size: xx-large;
padding: 2% 5% 2% 0;
}
.cel{
padding-top: 5%;
}
 .svg-img {
     width: 30%;
     margin-bottom: 5%;
     
  
 }
.svg-img svg{
    width: 50%;
    height: 60%;
}
.third-sec-text{
    margin: initial;
    line-height: initial;
    font-size: initial;
}

.pdd-3-0{
padding: 3% 0;
}
.pdd-0-5{
    padding: 0 7%;
}

.bg-white{
background: white;;
}
.black{
color: black;
}
.price-card{
box-shadow: 0px 5px 45px 0px rgba(175,177,177,0.57);
border-radius: 7px;
background: white;
padding: 10% 0;
width: auto;


}
.lighttext-sm{
    margin-top: -7px;
    margin-bottom: 10%;
}
.price-card h1{
        font-size: 2.5rem;
    font-weight: 700;
}
.card-inner{
    display: grid;
}
.card-inner button{
    width: 52%;
    z-index: 2;
}
.bg-custom{
background:rgba(241,241,241,.5);
}
.txt-xs{
font-size: small;
}
.dodgerblue{
color: #3d5afe;
}
.effects{
background-image: url(https://exponentwptheme.b-cdn.net/corporate/wp-content/uploads/sites/2/2018/07/price-bg.png);
background-repeat: no-repeat;
background-position: bottom;
background-size: contain;
box-shadow: 0px 1px 14px 0px #a0a4aa;
}

.reviewcard{
DISPLAY: grid;
grid-template-columns: auto auto;
box-shadow: 0px 0px 16px 2px #00000029;
 padding-left:3%; 
}
.reviewtext{
line-height: 1.6;
padding: 1rem;
}
.reviewtextsm{
    white-space: pre-line;
}
.reviewtext svg{
    margin-top: 15px;
    margin-bottom: -10px;
}
.rv-img img{
    height: 100%;
    width: fit-content;
    
}
.grey{
color: darkgray;
}
.slide-nfedd{
    display: flex;
    max-width: 1160px;
    flex-wrap: nowrap;
    overflow: auto
}

.news-images{
  
        width:380px;
}
.newsfeed a{
text-decoration: none;
color: rgba(0, 0, 0, 0.671);
font-weight: 600;
}
.onerow{
background-image: url(home.jpg),linear-gradient(rgba(66,157,229, 1),rgba(60, 140, 219, 1));
  
    text-align: center;
    position: relative;
    background-repeat: round;
    background-blend-mode: soft-light;
}
.onerow h1{
padding: 1% 15%;
margin-top: 0;
}

.onerow p{
    font-family: 'Hind Siliguri';
    font-weight: bold;
    letter-spacing: 1px;
}
.middle-align{
    max-width: 1160px;
    margin: 5% auto;
}
.bg-white{
background-color: white;
}
.center{
text-align: center  ;
}
.row{
max-width: 1160px;
    margin: 5% auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5%;

}
ul{
text-decoration: none;
list-style-type: none;
}
.column{
padding: 5%;
display: flex;
align-items: flex-start;
justify-content: space-between;
}
.text-sec{
margin: 5%
}
.col2{
padding-top: 5%;
}
.vs-in{
    font-size: small !important;
}
.col2 h2{
max-width: 70%;
font-size: 2rem;
}
.col-head{
margin: 0;
padding: 0 5%;
font-weight: 600;
}
.btm-brdr-grey{
border-bottom-color: grey;
/* border-bottom: 1px; */
border: 1px solid;
border-top-style: none;
border-left-style: none;
border-right-style: none;
}
.five-cols{
display: grid;
max-width: 1160px;
margin: 2% auto;
/* grid-template-columns: repeat(5,1fr); */
grid-template-columns: 30% 20% auto auto auto;
grid-gap: 5%;
}
.five-cols ul{
margin: 0;
padding: 5% 0;
}
.pdd-0{
padding: 0;
}
.lin-space{
line-height: 1.7;
}
.f-xxl {
font-size: x-large;
}
.lg-icons{
padding-top: 5%;
padding-right: 5%;
padding-left: 5%;
}
.foo-col-1-headline-md
{font-weight: 600;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-size: 2rem;
text-transform: none;
letter-spacing: -0.003em;
/* line-height: 46px; */
/* color: rgba(49,50,51,0.7); */
margin-bottom:2%;}

.lft-align{
text-align: left;
}
.grd-gap{
grid-gap: 3%;
max-width: 100%;
overflow-x: hidden;
}
.blue{
color: blue;
}
.tpad-10{
padding-top: 5%;
padding-bottom: 5%;
}
.fw-600{
font-weight: 600;
}

.txt-sm{
font-size: 1rem;
font-weight: 600;
color: #9a9ea5;
}
.card-ele{
display: flex;
justify-content: space-between;
max-width: 30%;
}
.vid-container{
    width: 100%;
    height: 100%;
    position: relative;
}

.vid-container video{
    position: absolute;
    height: 100%;
    width: inherit;
    object-fit: cover;
}
.round-btn{
    z-index: 1;
    border-radius: 50px;
    position: absolute;
    background-color: #2293d7;
    padding: 2rem;
    top: 40%;
    left: 42%;
    border: none;
    box-shadow: none;
    color: white;
}
.sep-line{
    position: absolute;
    stroke: #ffffff;
    left: 22%;
    bottom:35%
}
.sep-line2{
    position: absolute;
    stroke: #ffffff;
    left: 57%;
    bottom:35%
}
.vidplay{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    top:0;
    left:0;
}
.vidplay video{
    margin-left: 20%;
    margin-top: 5%;
    width: 70%;
    height: 100%;
    max-width: 1160px;
    
}